html {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: 10%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
	font-size:3em;
	font-weight: 600;
}

h2 {
	font-size: 2em;
	font-weight: 100;
}

h3 {
	font-size: 1.5em;
	font-weight: 50;
}

h4 {
	font-size: 1em;
	font-weight: 50;
}

.signin {
	position: relative;	
}

.signin #form {
	text-align: left;
	width: 50%;
	padding: 10px;
	margin: auto;
}

input {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid black;
}

.signin div {
	padding: 17px;
}

.error {
	text-align: center;
	font-size: .75em;
	font-weight: 20;
	color: red;
}
